{% extends "layout.html" %}

{% block container %}
  {% import '_macros.html'  as macros %}

  <h1 class="text-center text-uppercase">Empleados</h1>
  <h2 class="text-center">Eliminar</h2>
  <div class="row d-flex">
    <div class="col-md-6">
      <form name="sent" action="/eliminar" id="contactForm" method="post" novalidate>

        <div class="row control-group mb-3">
          <div class="form-group form-group col-xs-12 floating-label-form-gruop controls">
            {{macros.camposNuevos(form.id, class="form-control")}}
          </div>
        </div>

        <div class="row control-group mb-3">
          <div class="form-group form-group col-xs-12 floating-label-form-gruop controls">
            {{macros.camposNuevos(form.nombre, class="form-control")}}
          </div>
        </div>
    
        <div class="row control-group mb-3" >
          <div class="form-group form-group col-xs-12 floating-label-form-gruop controls">
            {{macros.camposNuevos(form.direccion, class="form-control")}}
          </div>
        </div>

        <div class="row control-group mb-3" >
          <div class="form-group form-group col-xs-12 floating-label-form-gruop controls">
            {{macros.camposNuevos(form.telefono, class="form-control")}}
          </div>
        </div>
    
        <div class="row control-group mb-3" >
          <div class="form-group form-group col-xs-12 floating-label-form-gruop controls">
            {{macros.camposNuevos(form.email, class="form-control")}}
          </div>
        </div>

        <div class="row control-group mb-3" >
          <div class="form-group form-group col-xs-12 floating-label-form-gruop controls">
            {{macros.camposNuevos(form.sueldo, class="form-control")}}
          </div>
        </div>
        
        <div class="row gap-1">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <input type="submit" class="btn btn-danger col-md-5" value="Eliminar" id="eliminar" name="eliminar">
          <a href="ABC_Completo" class="btn btn-success col-md-5"> <i class="bi bi-arrow-undo"></i>Cancelar</a>
        </div> 
      </form>
    </div>
  </div>
{% endblock %}